.side-widgets {
    height: 100%;
    width: 188px;
    float: left;
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    .media {
        padding: 10px;
        cursor: pointer;
        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
        .media-body {
            height: 30px;
            line-height: 30px;
            font-size: 0.8rem;
        }
        &:hover {
            background: rgba(0, 0, 0, 0.1);
        }
    }
}

.data-widgets {
    margin-left: 188px;
    height: 100%;
    position: relative;
}

.page-title {
    padding: 8px 15px 9px;
    font-size: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.15);
    margin: 0;
}