<div class="side-widgets">
    <ul class="list-unstyled">
        <li class="media" *ngFor="let media of medias" (click)="selected(media)">
            <img class="mr-3" [src]="media.pic">
            <div class="media-body">
                <span class="mt-0 mb-1">{{ media.name }}</span>
            </div>
        </li>
    </ul>
</div>
<div class="data-widgets">
    <h4 class="page-title border-0">{{ media.name }}</h4>
    <div class="list-container">
        <div class="listview-header">
            <div class="pretty p-default p-fill pull-left">
                <input type="checkbox" />
                <div class="state">
                    <label></label>
                </div>
            </div>
            <ul class="list-icon">
                <li>
                    <i class="icon ion-ios-heart-outline"></i>
                </li>
            </ul>
        </div>
        <div class="listview-body">
            <div class="media" *ngFor="let article of articles; let i = index" (click)="readArticle(article.id, i)">
                <!-- 阻止事件冒泡 $event.stopPropagation() -->
                <div class="pretty p-default p-fill align-self-center" (click)="$event.stopPropagation();">
                    <input type="checkbox" />
                    <div class="state">
                        <label></label>
                    </div>
                </div>
                <img *ngIf="article.imgSrc.length" class="align-self-center mr-3" [src]="article.imgSrc[0]">
                <div class="media-body">
                    <h5 class="mt-0"> {{ article.title }} </h5>
                    <div class="attrs align-self-center">
                        {{ article.readAmount }} 阅读
                    </div>
                    <div class="attrs">
                        {{ article.commentAmount }} 评论
                    </div>
                    <div class="attrs">
                        {{ article.updatedAt }}
                    </div>
                </div>
            </div>
            <div *ngIf="hasMore && !loading" class="media justify-content-center align-self-center p-0" style="height: 60px">
                <a (click)="getArticleList()" style="width: 100%; height: 60px;line-height: 60px;text-align: center;">
                    <small>加载更多</small>
                </a>
            </div>
            <div class="loader-box" *ngIf="loading">
                <div class="loader"></div>
            </div>
        </div>
    </div>
</div>
<div class="read-modal" (click)="closeReadModal()">
    <div class="read-modal-body" (click)="$event.stopPropagation();">
        <div class="modal-header">
            <h4 class="modal-title">内容</h4>
            <button type="button" class="close" (click)="closeReadModal()">×</button>
        </div>
        <div class="modal-body">
            <div class="content_wrapper">
                <header class="landingHead">
                    <h1 class="titleFont">{{ article?.title}}</h1>
                    <section>
                        <h3>
                            <div class="avatarLink">
                                <img [src]="article?.logo">
                            </div>
                            <div class="extraInfo">
                                <div class="authorName">政商内参</div>
                                <div class="infoSet">
                                    <span class="afrSplit">百家号</span>
                                    <span>{{ article?.updatedAt}}</span>
                                </div>
                            </div>
                        </h3>
                    </section>
                </header>
                <div [innerHTML]="contentHtml"></div>
            </div>
        </div>
    </div>
</div>
