.side-widgets {
    height: 100%;
    width: 188px;
    float: left;
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    .media {
        padding: 10px;
        cursor: pointer;
        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
        .media-body {
            height: 30px;
            line-height: 30px;
            font-size: 0.8rem;
        }
        &:hover {
            background: rgba(0, 0, 0, 0.1);
        }
    }
}

.data-widgets {
    margin-left: 188px;
    height: 100%;
    position: relative;
}

.page-title {
    padding: 8px 15px 9px;
    font-size: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin: 0;
}

.list-container {
    width: 100%;
    height: calc(100% - 35px);
}

.listview-header {
    background: rgba(0, 0, 0, 0.2);
    padding: 6px 1rem;
    .pretty .state label:before,
    .pretty .state label:after {
        border: 1px solid rgba(255, 255, 255, 0.4);
    }
    .pretty.p-default input:checked~.state label:after {
        background-color: rgba(255, 255, 255, 0.6) !important;
    }
    .list-icon {
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .list-icon>li {
        padding: 0 8px;
        text-align: center;
        list-style: none;
        cursor: pointer;
        &:hover {
            background: rgba(0, 0, 0, 0.15);
        }
        i {
            color: #fff;
            font-size: 1.6rem;
        }
    }
}

.listview-body {
    width: 100%;
    height: calc(100% - 50px);
    .media {
        padding: 1rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        cursor: pointer;
        &:last-child {
            border-bottom: 0;
        }
        &:hover {
            background-color: rgba(0, 0, 0, 0.07);
        }
        &:hover h5 {
            color: #F1565E;
        }
        img {
            width: 100px;
            height: 65px;
        }
        h5 {
            font-size: 1.2rem;
            white-space: normal;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            color: rgba(255, 255, 255, 0.8);
        }
        .attrs {
            padding: 5px 8px;
            margin: 4px 5px 2px 0;
            font-size: 11px;
            float: left;
            width: auto;
            background: rgba(0, 0, 0, 0.2);
        }
    }
}

.read-modal {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.25);
    margin-left: 120vw;
    .read-modal-body {
        position: absolute;
        width: 720px;
        height: 100%;
        left: 50%;
        margin-left: -360px;
        background-color: rgba(255, 255, 255, 0.95);
        color: #333;
        .modal-header {
            border-bottom: 1px solid #ddd;
            .close {
                color: #333;
            }
        }
        .modal-body {
            width: 100%;
            padding: 0;
            height: calc(100% - 38px);
            overflow-x: hidden;
            overflow-y: auto;
            .content_wrapper {
                padding: 0 17px 10px;
            }
            .landingHead {
                padding: .13rem 0;
            }
            .landingHead h1 {
                color: #000;
                line-height: 1.4;
                font-weight: 400;
                font-size: 24px;
                margin-top: 1rem;
            }
            .landingHead section {
                display: flex;
                box-align: center;
                align-items: center;
                justify-content: space-between;
                margin: 0;
            }
            .landingHead section h3 {
                margin-top: 10px;
                box-orient: horizontal;
                flex: 1;
                display: flex;
                box-align: center;
                align-items: center;
            }
            .landingHead .avatarLink {
                position: relative;
                margin: 0 14px 0 0;
            }
            .landingHead .avatarLink img {
                display: block;
                height: 35px;
                width: 35px;
                border-radius: 35px;
            }
            .landingHead .extraInfo {
                font-size: .16rem;
            }
            .landingHead .authorName {
                color: #333;
                font-size: 1rem;
                user-select: none;
                display: block;
                padding: 0 0 .02rem;
                text-decoration: none;
            }
            .landingHead .infoSet .afrSplit {
                position: relative;
                padding-right: 8px;
            }
            .landingHead .infoSet {
                display: block;
                height: 100%;
                color: #999;
                font-weight: 400;
                font-size: 1rem;
            }
            p {
                color: rgb(62, 62, 62);
                font-size: 16px;
                line-height: 1.6;
            }
        }
    }
}
