/* --------------------------------------------------------
        Template Blur Skins for Desktop
    -----------------------------------------------------------*/

[id^="skin-blur-"] {
    background-size: 100% 100%;
    background-attachment: fixed;
}

#skin-blur-violate {
    background-image: url(./assets/imgs/body/violate.jpg);
}

#skin-blur-lights {
    background-image: url(./assets/imgs/body/lights.jpg);
}

#skin-blur-city {
    background-image: url(./assets/imgs/body/city.jpg);
}

#skin-blur-greenish {
    background-image: url(./assets/imgs/body/greenish.jpg);
}

#skin-blur-night {
    background-image: url(./assets/imgs/body/night.jpg);
}

#skin-blur-sunny {
    background-image: url(./assets/imgs/body/sunny.jpg);
}

#skin-blur-blue {
    background-image: url(./assets/imgs/body/blue.jpg);
}

#skin-blur-ocean {
    background-image: url(./assets/imgs/body/ocean.jpg);
}

#skin-blur-sunset {
    background-image: url(./assets/imgs/body/sunset.jpg);
}

#skin-blur-yellow {
    background-image: url(./assets/imgs/body/yellow.jpg);
}

#skin-blur-kiwi {
    background-image: url(./assets/imgs/body/kiwi.jpg);
}

#skin-blur-nexus {
    background-image: url(./assets/imgs/body/nexus.jpg);
}
