<aside id="sidebar">
    <ul class="side-menu">
        <li>
            <a>
                <i class="icon ion-ios-film-outline"></i>
                <span class="menu-item">视频</span>
            </a>
        </li>
        <li>
            <a>
                <i class="icon ion-ios-radio-outline"></i>
                <span class="menu-item">电台</span>
            </a>
        </li>
        <li>
            <a>
                <i class="icon ion-ios-book-outline"></i>
                <span class="menu-item">阅读</span>
            </a>
        </li>
    </ul>
</aside>
