/* You can add global styles to this file, and also import other style files */


/*-----------------------------------------------------------
    bootstrap
----------------------------------------------------------*/

@import '~bootstrap/scss/bootstrap';

/*-----------------------------------------------------------
    bootstrap
----------------------------------------------------------*/

@import "assets/scss/template-skins";

/*-----------------------------------------------------------
    pretty-checkbox
----------------------------------------------------------*/

@import '~pretty-checkbox/src/pretty-checkbox.scss';

/*-----------------------------------------------------------
    loader
----------------------------------------------------------*/

@import 'assets/scss/loader';

/*-----------------------------------------------------------
    bootstrap
----------------------------------------------------------*/

@import 'assets/scss/bootstrap';

/*-----------------------------------------------------------
    perfect-scrollbar
----------------------------------------------------------*/

@import '~perfect-scrollbar/css/perfect-scrollbar.css';

/* my style files */

html,
body {
    height: 100%;
    color: #fff;
    min-width: 992px;
    overflow: hidden;
    font-weight: 300!important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

 ::-webkit-scrollbar-thumb {
    background: #aaa;
    cursor: pointer;
    border-radius: 2.5px;
}

 ::-webkit-scrollbar-track {
    background: rgba(241, 241, 241, 0.3);
}

::selection {
    background: rgba(255, 255, 255, 0.1);
}

* {
    box-shadow: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

*:focus,
*:active {
    outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'open-sans-light', sans-serif;
    font-weight: normal;
}

img {
    max-width: 100%;
}

a:hover,
a:focus {
    color: #FFD600;
    text-decoration: none;
}

a.underline {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.35);
}

a.underline:hover,
a.underline:focus {
    border-color: #FFD600;
}

.loader-box {
    display: flex;
    width: 100%;
    height: 60px;
    position: relative;
    .loader {
        @include loader($size: 15px, $color: #000, $duration: 1s, $gap: 2px, $align: middle);
    }
}


/* APlayer */

.aplayer .aplayer-info .aplayer-music .aplayer-author {
    color: #fff !important;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-time {
    color: #fff;
}

// .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played {
//     background: #F1565E !important;
// }
// .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded {
//     background: rgba(0, 0, 0, 0.5);
// }

.aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon .aplayer-fill {
    fill: #fff !important;
}

// .aplayer .aplayer-info .aplayer-controller .aplayer-volume-wrap .aplayer-volume-bar-wrap .aplayer-volume-bar .aplayer-volume {
//     background: #F1565E !important;
// }
