<header id="header">
    <a id="menu-toggle">
        <i class="icon ion-ios-menu-outline"></i>
    </a>
    <a class="logo pull-left">NG HI 1.0</a>
    <a class="a-icon pull-left" (click)="openModal(skin)">
        <i class="icon ion-ios-color-fill-outline"></i>
        <span>皮肤</span>
    </a>

    <div id="time" class="pull-right">
        {{ time }}
    </div>
</header>

<ng-template #skin>
    <div class="modal-header">
        <h4 class="modal-title">Modal</h4>
        <button type="button" class="close" (click)="skinModalRef.hide()">×</button>
    </div>
    <div class="modal-body">
        <div class="row template-skins">
            <a (click)="setSkin('skin-blur-violate')" class="col-sm-2 col-xs-4">
                <img src="./assets/imgs/body/skin-violate.jpg">
            </a>
            <a (click)="setSkin('skin-blur-lights')" class="col-sm-2 col-xs-4">
                <img src="./assets/imgs/body/skin-lights.jpg">
            </a>
            <a (click)="setSkin('skin-blur-city')" class="col-sm-2 col-xs-4">
                <img src="./assets/imgs/body/skin-city.jpg">
            </a>
            <a (click)="setSkin('skin-blur-greenish')" class="col-sm-2 col-xs-4">
                <img src="./assets/imgs/body/skin-greenish.jpg">
            </a>
            <a (click)="setSkin('skin-blur-night')" class="col-sm-2 col-xs-4">
                <img src="./assets/imgs/body/skin-night.jpg">
            </a>
            <a (click)="setSkin('skin-blur-blue')" class="col-sm-2 col-xs-4">
                <img src="./assets/imgs/body/skin-blue.jpg">
            </a>
            <a (click)="setSkin('skin-blur-sunny')" class="col-sm-2 col-xs-4">
                <img src="./assets/imgs/body/skin-sunny.jpg">
            </a>
            <a (click)="setSkin('skin-cloth')" class="col-sm-2 col-xs-4">
                <img src="./assets/imgs/body/skin-cloth.jpg">
            </a>
            <a (click)="setSkin('skin-tectile')" class="col-sm-2 col-xs-4">
                <img src="./assets/imgs/body/skin-tectile.jpg">
            </a>
            <a (click)="setSkin('skin-blur-chrome')" class="col-sm-2 col-xs-4">
                <img src="./assets/imgs/body/skin-chrome.jpg">
            </a>
            <a (click)="setSkin('skin-blur-ocean')" class="col-sm-2 col-xs-4">
                <img src="./assets/imgs/body/skin-ocean.jpg">
            </a>
            <a (click)="setSkin('skin-blur-sunset')" class="col-sm-2 col-xs-4">
                <img src="./assets/imgs/body/skin-sunset.jpg">
            </a>
            <a (click)="setSkin('skin-blur-yellow')" class="col-sm-2 col-xs-4">
                <img src="./assets/imgs/body/skin-yellow.jpg">
            </a>
            <a (click)="setSkin('skin-blur-kiwi')" class="col-sm-2 col-xs-4">
                <img src="./assets/imgs/body/skin-kiwi.jpg">
            </a>
            <a (click)="setSkin('skin-blur-nexus')" class="col-sm-2 col-xs-4">
                <img src="./assets/imgs/body/skin-nexus.jpg">
            </a>
        </div>
    </div>
</ng-template>
